<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit users</title>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div th:replace="login :: header"></div>
<div>
    <!--/*@thymesVar id="user" type="crud.model.Role"*/-->
    <th:block th:if="${#lists.isEmpty(roles)}">
        <p>Role list is empty!</p><br>
    </th:block>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <th:block th:each="role : ${roles}">
            <tr>
                <td th:text="${role.id}"></td>
                <td th:text="${role.roleName}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>